#banner {
	height: 70vh;
	background-image: linear-gradient(83deg, rgba(2,0,36,1) 0%, rgba(9,87,121,0.248358718487395) 47%, rgba(163,198,223,0.7637648809523809) 100%), url("../image/banner.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-shadow: 1px 1px 1px darkblue;
}

#blog {
	height: 70vh;
	background-image: url("../image/blog.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-shadow: 1px 1px 1px darkblue;
	border-radius: 5%;
}