.btn-blue {
	color: white;
	background-color: #048b9a;
	padding: 8px 15px;
	border-radius: 15px;
	font-weight: bolder;
	border:  1px solid #048b9a;
	transition: 1s;
}

.btn-blue:hover {
	background-color: white;
	color: #048b9a;
	transition: 1s;
}

.btn-deux {
	color: white;
	background-color: #048b9a;
	padding: 8px 15px;
	border-radius: 15px;
	font-weight: bolder;
	border:  1px solid #048b9a;
	transition: 1s;
}

.btn-deux:hover {
	background-color: white;
	color: #048b9a;
	transition: 1s;
}